/* WorkZen HRMS - Custom Styles */
/* Most styling is handled by Tailwind CSS */

@media print {
  .print\\:hidden {
    display: none !important;
  }
  
  .print\\:p-4 {
    padding: 1rem !important;
  }
}
